<main class="login-panel">
    <app-navbar></app-navbar>
    <div data-aos="zoom-in-up" class="res-container form-center">
        <form (ngSubmit)="login()">
            <h1 class="login-title">Bejelentkezés</h1>
            <div class="container">
                <div class="input-username">
                    <label for="username" class="label">felhasználónév</label>
                    <input [(ngModel)]="username" type="text" name="username" id="username">
                </div>
                <div class="input-password">
                    <label for="password" class="label">jelszó</label>
                    <input [(ngModel)]="password" type="text" name="password" id="password">
                </div>
                <div class="submit-button">
                    <button type="submit">Bejelentkezés</button>
                </div>
                <div class="different-choice">
                    <p>Bejelentkezés máshogy</p>
                    <div class="social-media-icons">
                        <i class="fa-brands fa-google"></i>
                        <i class="fa-brands fa-github"></i>
                    </div>
                    <p>Nincs még fiókod?  <a routerLink="/regisztracio"><span>Regisztrálj most!</span></a></p>
                </div>
            </div>
        </form>
    </div>
    
</main>
<app-footer></app-footer>