@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;


}

::-webkit-scrollbar {
  max-width: 5px;
}

::-webkit-scrollbar-track {
  background: #0d121f;

}

::-webkit-scrollbar-thumb {
  background: #3d82db42;
  border-radius: 10px;

}



.res-container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* 2xl */
@media (max-width: 1536px) {
  .res-container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .res-container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .res-container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .res-container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .res-container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .res-container {
    width: 100%;
  }
}


/* Gradient Animation */

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}