<main class="background">
    <app-navbar></app-navbar>
    <div class="tag-container res-container">
        <h2>Telefonok összehasonlítása</h2>
        <div class="tags">
            <a href="">TOP 10</a>
            <a href="">ERŐS AKKUMULÁTOR</a>
            <a href="">GAMING</a>
            <a href="">STRAPABÍRÓ</a>
            <a href="">ÖSSZEHAJTHATÓ</a>
            <a href="">5G</a>
            <a href="">NAGY KIJELZŐ</a>
            <a href="">OLCSÓ</a>
        </div>
    </div>
    <section class="main-layout res-container">
        <p-scrollpanel class="filter-panel"
            [style]="{width: '18rem', height: '70vh', border: '2px solid', position: 'sticky', overflow: 'auto',  top: '1rem'}">
            <div class="rendezes-select">
                <h3>Rendezés</h3>
                <p-select styleClass="rendez" [options]="rendezesek" [(ngModel)]="kivalaszottRendezes" optionLabel="rendezes_tipus"
                    placeholder="Rendezés..." class="" />
            </div>
            <div class="ar-slider-container">
                <p-slider [(ngModel)]="arSkala" [range]="true" [max]="510000" [min]="40000"/>
                <p style="text-align: center;">{{arSkala[0]}} Ft - {{arSkala[1]}} Ft</p>

            </div>

            <p-button [style]="{width: '100%', 'margin-top': '4rem'}">Tesztgomb</p-button>
        </p-scrollpanel>

        <div class="telephone-list">
            <app-phonecard *ngFor="let phone of telephones" [phone]="phone"></app-phonecard>
        </div>
    </section>



</main>