.background{
    width: 100%;
    min-height: 100vh;
    background-color: #171e37;
    background-size: 120% 120%;
    animation: gradient-animation 10s ease infinite;
    font-family: 'Fira Sans', serif;
}

.main-layout{
    display: flex;
    background-color: #f6f7fbee;
    border: 2px solid;
    justify-content: space-evenly;
    
}


.tag-container{
    background-color: #171e37;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 2rem;
    overflow: hidden;
}

.tag-container h2{
    color: #f3f3f3;
    font-weight: 600;
    padding-bottom: 1rem;
    font-size: 2rem;
    margin-top: 1rem;
}

.tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: .8rem;
    max-width: 50rem;
    border: 2px solid yellow;
    margin-bottom: 1rem;
    
}

.tags a{
    text-decoration: none;
    font-variant: small-caps;
    font-weight: 500;
    color: white;
    font-size: clamp(.85rem, 1.2vw, 1.3rem);
    transition: all ease-in-out .15s;
    border: 2px solid rgba(153, 0, 255, 0.671);
    border-radius: 10px;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: .25rem;
    padding-top: .25rem;
}

.tags a:hover{
    background-color: rgb(153, 0, 255);
    color: #171e37;
    transition: all ease-in-out .15s;
}


/* Filter és a benne lévő tulajdonságok */

.filter-panel{
    margin-top: 1rem;
}

.rendezes-select{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: .5rem;
    width: 100%;
    padding-bottom: 2rem;
}
p-select{
    width: 100%;
}

p-select .p-select-list-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ar-slider-container{
    
}

p-slider{
    width: 100%;
}

.telephone-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid blueviolet;
    width: 75%;
    gap: 2rem;
    margin-top: 1rem;
    padding-bottom: 5rem;
    padding-top: 1rem;
}

app-phonecard{
    @media screen and (max-width: 1536px) {
        width: calc(51% - 2rem);
    }

    @media screen and (max-width: 1024px) {
        width: calc(100% - 2rem);
    }
   
}

@media screen and (max-width: 1280px) {
    .res-container {
        max-width: none;
    }

}


