

.background {
    width: 100%;
    min-height: 100vh;
    background-color: #171e37;
    background-size: 120% 120%;
    animation: gradient-animation 10s ease infinite;
    font-family: 'Fira Sans', serif;
}

.main-layout {
    display: flex;
    background-color: #f6f7fbee;
    justify-content: space-evenly;
    height: 100%;
    overflow-x: hidden;

}


.tag-container {
    background-color: #171e37;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 2rem;
    overflow: hidden;
}

.tag-container h2 {
    color: #f3f3f3;
    font-weight: 600;
    padding-bottom: 1rem;
    font-size: 2rem;
    margin-top: 1rem;
}

.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: .8rem;
    max-width: 50rem;
    margin-bottom: 1rem;

}

.tags a {
    text-decoration: none;
    font-variant: small-caps;
    font-weight: 500;
    color: white;
    font-size: clamp(.85rem, 1.2vw, 1.3rem);
    transition: all ease-in-out .15s;
    border-radius: 10px;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: .25rem;
    padding-top: .25rem;
}

.tags a:hover {
    background-color: rgb(153, 0, 255);
    color: #171e37;
    transition: all ease-in-out .15s;
}


/* Filter és a benne lévő tulajdonságok */

.filter-panel {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    gap: 1.5rem;
    overflow-x: hidden;
}

.rendezes-select {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: .5rem;
    width: 90%;
    padding-bottom: 2rem;
}

p-select {
    width: 100%;
    color: #6f00c4;
}

p-select .p-select-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ar-slider-container {
    padding-top: 1.5rem;
    margin: 0 auto;
    width: 90%;

}

.markak-container {
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.markak-container p-multiselect {
    width: 100%;
}

.megjelenes-ev-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    width: 90%;
    gap: 1rem;

}

.megjelenes-ev-input {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 90%;
}

.megjelenes-ev-input p-inputnumber .p-inputnumber-input {
    text-align: center;
    width: 5rem;


}

.tulajdonsagok {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    width: 90%;
}

/* Tárhely checkbox */
.checkbox-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: .5rem;
    width: 100%;
    gap: 1rem;
}

.checkbox-item {
    text-align: center;
    display: flex;
    gap: 1rem;
}

.filter-gomb{
    margin: 0 auto;
    width: 85%;
}






/* Összehasonlító kosár */

.telephone-compare-list {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 3;
    right: 1.25rem;
    bottom: 2.5%;
}

.telephone-compare-list .compare-button {
    display: flex;
    align-items: center;
    font-family: 'Fira Sans', serif;
    background: #9200ff;
    border-radius: 10px;
    border: none;
    padding: .5rem 4rem;
    font-size: 1.4rem;
    color: #f3f3f3;
    transition: all ease-in-out .15s;
}

.telephone-compare-list .compare-button i {
    margin-left: 1rem;
    transition: all .12s ease-in-out;  
}

.telephone-compare-list button:hover {
    background-color: #6f00c4;
    opacity: 0.95;
    transition: all ease-in-out .15s;
}

.telephone-compare-list .compare-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .25rem;
    align-items: center;
    background-color: #e5e6e9f8;
    height: 11.5rem;
    border-radius: 10px 10px 0 0;
    width: 96%;
    margin: 0 auto;
}

.telephone-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;
    gap: 2rem;
    margin-top: 1rem;
    padding-bottom: 5rem;
    padding-top: 1rem;
}

.compare-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 2px 4px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 0px 2px 4px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 2px 4px rgba(0, 0, 0, 0.08);
    width: 87.5%;
    border-radius: 35px;
    padding: .3rem 1.25rem;
    margin-top: .5rem;
    overflow-y: hidden;
}

.compare-image{
    display: block;
    width: 27px;
    height: 37px;
    overflow-y: hidden;
}

.compare-image img{
    width: 100%;
    height: 100%;
}

/* Mehet gomb */
.mehet-button {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.3rem;
    padding-inline: .8rem;
    background: #9000ffd3;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #ffff;
    gap: 8px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .icon {
    width: 20px;
    height: 20px;
    transition: all 0.3s ease-in-out;
  }
  
  .mehet-button:hover {
    border-color: #fff9;
    background-color: #9200ff;
  }
  
  .mehet-button:hover .icon {
    transform: translate(4px);
  }
  
  .mehet-button:hover::before {
    animation: shine 1.5s ease-out infinite;
  }
  
  .mehet-button::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }
  
  @keyframes shine {
    0% {
      left: -100px;
    }
  
    60% {
      left: 100%;
    }
  
    to {
      left: 100%;
    }
  }
  




app-phonecard {
    @media screen and (max-width: 1536px) {
        width: calc(51% - 2rem);
    }

    @media screen and (max-width: 1024px) {
        width: calc(100% - 2rem);
    }

}

@media screen and (max-width: 1280px) {
    .res-container {
        max-width: none;
    }

}