<div class="gradient-background main-open">
    <app-navbar></app-navbar>
    <div class="opening-title res-container">

        <h1 data-aos="fade-right">Dönts jól</h1>
        <h2 data-aos="fade-left">Segítünk neked megtalálni a számodra megfelelő okostelefont</h2>
        <button class="button">
            <span class="button_lg">
                <span class="button_sl"></span>
                <span class="button_text">Ugrás a telefonokhoz</span>
            </span>
        </button>
    </div>
    <div class="kawaiiphone">
        <img id="kacsint" src="images/kawaiiphone-normal.png" alt="kawaiiiphone">
    </div>

</div>

<section data-aos="fade-up" class="phone-splash-container">
    <div data-aos="fade-right" class="phone-splash">
        <img src="images/fooldal-mockup.png" alt="" srcset="">
    </div>
    <div data-aos="fade-up" class="phone-splash-text">
        <h1>Biztos döntés <i class="fa-solid fa-thumbs-up"></i></h1>
        <p>
            A <b>ChoosePhoneÁÁÁÁÁÁÁ</b> csapata által fejlesztett weboldal célja, hogy <span>támogassa Önt</span> az igényeinek leginkább megfelelő
            okostelefon kiválasztásában.<br>Az oldal lehetőséget biztosít különböző készülékek <span>specifikációinak és
            teljesítménypontszámainak összehasonlítására,</span> amely hasznos iránymutatást nyújthat a végső döntés
            meghozatalában.
        </p>
    </div>

</section>

<app-footer></app-footer>

<script>
    AOS.init();
</script>


