<main class="register-panel">
    <app-navbar></app-navbar>
    <div data-aos="zoom-in-up" class="res-container form-center">
        <form class="" action="">
            <h1 class="register-title">Regisztráció</h1>
            <div class="container">
                <div class="input-email">
                    <label for="email" class="label">email</label>
                    <input type="email" name="email" id="email">
                </div>
                <div class="input-password">
                    <label for="password" class="label">jelszó</label>
                    <input type="password" name="password" id="password">
                </div>
                <div class="input-password">
                    <label for="password" class="label">jelszó ismét</label>
                    <input type="password" name="password" id="password">
                </div>
                <div class="submit-button">
                    <button type="submit">Regisztráció</button>
                </div>
                <div class="different-choice">
                    <p>Van már fiókod?  <a routerLink="/bejelentkezes"><span>Jelentkezz be!</span></a></p>
                </div>
            </div>
        </form>
    </div>
</main>
<app-footer></app-footer>