<div class="phone-card">
    <div class="image-container">
        <img src="{{phone.kepUrl}}" alt="">
    </div>
    <div class="phone-info">
        <div class="phone-row-top">
            <div class="phone-title">
                <p>{{phone.marka}} {{phone.modell}}</p>
                <p></p>
                <p>{{phone.ar| currency: 'Ft' : 'symbol-narrow' : '1.0-0'}}</p>

            </div>
            <div class="phone-add"> 
                <i class="fa-solid fa-plus"></i>
            </div>
        </div>
        <div class="phone-specs">
            <div class="first-column">
                <p>6.67 col</p>
                <p>293ppi</p>
            </div>
            <div class="second-column">
                <p>{{phone.specs.memory}}GB memória</p>
                <p>{{phone.specs.tarolo_kapacitas}}GB tárhely</p>
                
            </div>
        </div>
    </div>
</div>