<div class="phone-card">
    <div class="image-container">

    </div>
    <div class="phone-info">
        <div class="phone-row-top">
            <div class="phone-title">
                <p>{{penz | currency: 'Ft' : 'symbol-narrow' : '1.0-0'}}</p>

            </div>
            <div class="phone-add"> 
                <i class="fa-solid fa-plus"></i>
            </div>
        </div>
        <div class="phone-specs">
            <div class="first-column">
                <p>6.67 col</p>
                <p>293ppi</p>
            </div>
            <div class="second-column">
                <p>4gb ram</p>
                <p>128gb</p>
                
            </div>
        </div>
    </div>
</div>