<div class="phone-card">
    <div class="image-container">
        <img src="{{phone.kepUrl}}" alt="telefonkep">
    </div>
    <div class="phone-info">
        <div class="phone-row-top">
            <div [routerLink]="['/telefonok', phone.id]" class="phone-title">
                <h3>{{phone.marka}} {{phone.modell}}</h3>
                <p>{{phone.ar| currency: ' ' : 'symbol' : '1.0-1'}} Ft</p>

            </div>
            <div class="phone-add"> 
                <i (click)="addToCompare(phone.id)" class="fa-solid fa-plus"></i>
            </div>
        </div>
        <div class="phone-specs">
            <div class="first-column">
                <div class="screen-size">
                    <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
                    <p>{{phone.display.kijelzo_meret}}"</p>
                    
                </div>
                
                
                <div class="screen-hz">
                    <p><span>HZ</span> {{phone.display.kepfrissites}}</p>
                </div>
            </div>
            <div class="second-column">
                <div class="memory">
                    <i class="fa-solid fa-memory"></i>
                    <p>{{phone.specs.memory}}GB</p>
                </div>

                <div class="tarhely">
                    <i class="fa-solid fa-hard-drive"></i>
                    <p>{{phone.specs.tarolo_kapacitas}}GB</p>
                </div>
            </div>
        </div>
    </div>
</div>